@use './utils/vars' as *;
@import './components/navigation';
* {
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  width: 1600px;
  background: $color-background;
  font-family: $font-primary;
  color: $color-grey;
}
.menu {
  width: 1600px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  display: flex;
  border-bottom: 1px solid $color-border-menu;

  &__email{
    width: 161px;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-left: 345px;
    color: $color-grey;

    &:hover,
    &:focus{
        color: $color-blue;
        fill: $color-blue;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
  &__icon-envelope{
    margin-right: 10px;
  }
  &__telephone{
    width: 130px;
    color: $color-grey;
    text-decoration: none;
    display: flex;
    margin-left: 30px;
    align-items: center;

    &:hover,
    &:focus{
        color: $color-blue;
        fill: $color-blue;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
  &__icon-smartphone{
    margin-right: 10px;
  }
}
.container {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 200px;

  &--principal {
    flex-direction: row;
    max-height: 80px;
  }
}
.menu__logo {
    width: 145px;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.38;
    letter-spacing: 0.03em;
    color: $color-black;
    text-decoration: none;
    font-family: $font-menu;
    padding-top: 24px;
    padding-bottom: 25px;
}
.logo__web{
    color: $color-blue;
}
.navigation{
    width: 254px;
    margin-top: 32px;
    margin-left: 93px;
    
    &__list{
        list-style: none;
        margin: 0;
        padding: 0;
    }
    &__link{
        float: left;
        color: $color-almost-black;

        &:focus,
        &:hover,
        &:active{
            color: $color-blue;
            transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    }
        &__link-agency{
        width: 53px;
        font-weight: 500;
        text-decoration: none;
    }
        &__link-agency--active{
        color: $color-blue;

            &::after{
                content: '';
                position: absolute;
                height: 4px;
                width: 53px;
                top: 76px;
                left: 437px;
                border-radius: 2px;
                background-color: $color-blue;
            }
    }
    &__link-portfolio{
        padding-left: 46px;
        text-decoration: none;
    }
    &__link-portfolio--active{
        color: $color-blue;

        &::after{
            content: '';
            position: absolute;
            height: 4px;
            width: 53px;
            top: 76px;
            left: 537px;
            background: var(--color-blue);
            border-radius: 2px;
        }
    }
    &__link-contact{
        padding-left: 46px;
        width: 51px;
        text-decoration: none;
    }
}
//finish menu//
